* {
    padding: 0;
    margin: 0;
    font-family: Georgia;
    box-sizing: border-box;  /* Mudança */
}

html,
body {
    height: 100%;
    transition: 0.4s;
}

header {
    align-items: center;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover {
    color: #37a1f7;
}

h1 {
    justify-content: center;
    display: flex;
    align-items: center;
    color: #3d3d3d;
}
#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

.container {
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

#posts-container {
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.5rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
}

.title,
.description,
.author {
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
}

.author {
    color: #333;
    font-weight: bold;
}

/* Barra Lateral*/
#sidebar {
    flex: 1 1 0;
}

#search-bar,
#categories,
#tags {
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    border-radius: 15px;
}

#search-bar h4,
#categories h4,
#tags h4 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form{
    display: flex;
}

#search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 20px;
}

#search-bar input[type="submit"] {
    cursor: pointer;
    background-color: #37a1f7;
    color: #fff;
    border: none;
    border-radius: 18px;
}

#categories li {
    margin-bottom: 1rem;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-container a {
    background-color: #7e7878;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
}

/* Rodapé */
#footer {
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
}

#footer h2,
#footer p {
    margin-bottom: 1rem;
}

@media(max-width: 450px) {
    .container {
        flex-wrap: wrap;
    }
}

input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon-fill {
    display: none;
}


/* Dark Mode */
.dark,
.dark header {
    background-color: #000;
    color: #eeeeee;
}

.dark .bi-brightness-low-fill {
    display: none;
}

.dark .bi-moon-fill {
    display: block;
}

.dark a {
    color: #eeeeee;
}

.dark a:hover {
    color: #37a1f7;
}

.dark .author {
    color: #eeeeee;
}

.dark h1 {
    color: #fff;
}